body
{
    background-image: url('../images/results%20cover.jfif');
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

.container
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    
}

.features
{
    
    margin-top: 160px;
    margin-right: 300px;
    direction: rtl;
    
    
}

.setting-icon
{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin-right: 40px;

}

.setting-icon:hover
{
    transition: all .8s ease-in-out;
    transform: scale(1.1,1.1);
}

.lines
{
    
    width: 1600px;
    
    
}

.part
{
    float:right;
    font-size: 35px;
    text-decoration: none;
    padding: 40px 50px;
    background-color:rgba(255, 234, 234, 0.56);
    color: black;
    margin: 15px 20px 15px 20px;
    border-radius: 25px;
    width: 300px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    font-family: 'Almarai', sans-serif;
}

.part:hover
{

    transition: all .8s ease-in-out;
    transform: scale(1.1,1.1);
    background-color: rgb(109, 27, 30);
    color: aliceblue;
}

@media (min-width:1901px) 
{   
    

    .features
    {

        margin-top: 100px;
        margin-right: 300px;
        direction: rtl;


    }

    .lines
    {

        width: 1600px;


    }

    .part
    {

        padding: 40px 50px;
        margin: 15px 20px 15px 20px;
        width: 300px;
        height: 50px;

    }


}

@media (min-width:1601px) and (max-width:1900px)  /*large labtob*/
{
    
    
    
    .features
    {

        margin-top: 100px;
        margin-right: 20%;
        height: 840px
        


    }

    .lines
    {

        width: 100%;


    }

    .part
    {

        padding: 40px 60px;
        width: 200px;
        height: 50px;
    }
}

@media (min-width:1201px) and (max-width:1600px)  /*large labtob*/
{

    .features
    {
        
        margin-top: 150px;
        margin-right:0%;
        margin-left: 0px;
        height: 800px


    }

    .lines
    {

        width: 100%;


    }

    .part
    {
        
        font-size: 32px;
        padding: 30px 70px 40px 70px;
        margin: 25px 35px 25px 35px;
        width: 15%;
        height: 50px
        
    }
}

@media (min-width:992px) and (max-width:1200px) /*labtob*/
{
    

    .features
    {
        
        margin-top: 100px;
        margin-right:70px;
        margin-left: 0px;


    }

    .lines
    {

        width: 100%;


    }

    .part
    {
        
        font-size: 30px;
        padding: 30px 20px;
        margin: 25px 35px 25px 35px;
        width: 35%;
        height: 50px
        
    }
}


@media (min-width:768px) and (max-width:991px) /*tablets*/
{

    .features
    {
        
        margin-top: 50px;
        margin-right:0px;
        margin-left: 100px;


    }

    .lines
    {

        width: 100%;


    }

    .part
    {
        
        font-size: 28px;
        padding: 30px 20px;
        margin: 20px 25px 20px 25px;
        width: 100%;
        height: 50px
        
    }
}
@media (min-width:550px) and (max-width:767px) /*phones*/
{


    
    .features
    {
        
        margin-top: 50px;
        margin-right:0px;
        margin-left: 100px;


    }

    .lines
    {

        width: 100%;


    }

    .part
    {
        
        font-size: 25px;
        padding: 15px 20px;
        margin: 20px 25px 20px 25px;
        width: 100%;
        height: 50px
        
    }
}

@media (max-width:549px)/*mini phones*/
{
    

    .features
    {

        margin-top: 50px;
        margin-right:0px;
        margin-left: 100px;


    }

    .lines
    {

        width: 100%;


    }

    .part
    {
        
        font-size: 25px;
        padding: 15px 20px;
        margin: 10px 20px 10px 20px;
        width: 100%;
        height: 50px
        
    }
    
}