body
{
    margin: 0px;
    padding: 0px;
    background-image: url('../images/login cover.jfif');
    background-repeat: no-repeat;
    background-position:center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    
    
}


.container
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    
}




.form
{
    
    background-color:rgba(224 237 243 / 50%);
    display: inline-block;
    padding: 40px 100px 100px 100px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    margin: 100px;
    margin-left: 200px
}

.sign-in
{
    
    font-family: 'Amiri', serif;
    color: #ffead1
}

.avt
{
    
    width:160px;
    height:160px
}

input
{
    position: relative;
    display: block;
    width: 270px;
    border-radius: 150px;
    padding:15px 10px;
    border: 1px solid black;
    text-align: center;
    transition: 0.5s;
    
}

input:focus
{
    border: 1px solid blue;
    
    
}


input:hover
{
    border: 1px solid red;
}



a.log:link ,a.log:visited{
    
    color: white;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 60px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 150px;
    font-family: 'Harmattan', sans-serif;
    
     
}

a.log:hover,a.log:active{
    
     background-color:black;
     border: 1px solid black;
     transition: 0.6s;
     
}

@media (max-width:500px)
{
    .container
    {
        width:290px;
    }
    
    body
    {
        
        height: 937px

    }
    

    
    
    .form
    {
    background-color:rgba(224 237 243 / 70%);
    padding: 20px 30px 60px 30px;
    font-size: 15px;
    margin: 210px 0px 0px 2px;
    
    }
    
    input
    {
    width: 200px;
    
    
    }
    
    .sign-in
    {
        color: black;
    }
}

@media (min-width:501px) and (max-width:767px)
{
    .container
    {
        width:471px;
    }
    
    body
    {
        
        height: 935px

    }
    

    
    
    .form
    {
    background-color:rgba(224 237 243 / 70%);
    padding: 30px 70px 50px 70px;
    font-size: 18px;
    margin: 210px 0px 0px 20px;
    
    }
    
    input
    {
    width: 270px;
    
    
    }
    
    .sign-in
    {
        color: black;
    }
}

@media (min-width:768px) and (max-width:991px)
{
    .container
    {
        width:738px;
    }
    
    body
    {
        
        height: 800px

    }
    

    
    .form
    {
        background-color:rgba(224 237 243 / 70%);
        margin-left: 110px;
        margin-top: 150px;
        
    }
    .sign-in
    {
        color: black;
    }
}

@media (min-width:992px) and (max-width:1199px)
{
    .container
    {
        width: 962px;
    }
    
    body
    {
        height: 390px

    }
    

    .overlay
    {

        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(82 78 78 / 80%);
    }
    
    .form
    {
        margin-left: 210px;
        margin-top: 150px;
    }
    
}

@media (min-width:1200px)
{
    
    .container
    {
        width: 1170px;
    }
    
    body
    {
        height: 80px

    }
    
    
    .overlay
    {

        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(82 78 78 / 80%);
    }

    
    .form
    {
        margin-left: 320px;
        margin-top: 150px;
        
    }
}