body
{
    margin: 0px;
    padding: 0px 0px;
    background-color: antiquewhite;
    text-align:center;
    
    
}

.icon
{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    float: right;
    

}

.icon:hover
{
    transition: all .8s ease-in-out;
    transform: scale(1.1,1.1);
}

.container
{
   
}

.vid
{
    width: 300px;
    height: 300px;
    border-radius: 15px;
      

  
    
}

.next
{
    text-decoration: none;
    color: white;
    background-color: brown;
    padding: 15px 65px;
    font-size: 25px;
    
    
    
}

.next:hover
{
    background-color: #832121;
    border: 1px solid black
}

@media (min-width:1533px) 
{   
    body
    {
    
        padding: 50px 200px;
    }
    

}